body {
    background-color: #f0f2f5;
    padding-top: 40px;
}

.formacontent {
    padding-left: 60px;
}

.error {
    border: 2px solid red;
}

select[multiple] {
    width: 600px;
    height: 150px;
}

textarea {
    min-width: 500px;
    min-height: 100px;
    max-width: 1000px;
}